html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: white;
  background-size: cover;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(2, 75, 118, 0.9);
}
.navbar {
  background: rgba(2, 75, 118, 0.9);
  padding: 5px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.logo {
  height: 60px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 30px;
  font-size: 15px;
  justify-content: center;
  text-align: center;
}

nav a:hover {
  color: rgb(90, 170, 241);
}

#user {
  margin-left: 90px;
}
